/* for the header */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aquamarine;
    box-align: center;
    border: 10px solid blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
}

img {
    width: 45rem;
    padding: 2em;
}

h2 {
    font-size: 6em;
}
.captext {
     font-size: 2em;
}

/* flexbox for side by side boxes */
.flex-container {
    display: flex;
}

.flex-child-img {
    flex: 1;
    /*border: 2px solid yellow;*/
}  

.flex-child-words {
    flex: 2;
    /*border: 2px solid yellow;*/
}  

.flex-child:first-child {
    margin-right: 2px;
} 

//footer

.text-center {
    text-align: center;
}